:root {
  --pine-teal: #2F5D50;
  --soft-linen: #E9E5D9;
  --steel-blue: #4A7C9B;
  --graphite: #2B2B2B;
  --white: #ffffff;
  --guide-card: #A8DADC;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background: var(--soft-linen);
    color: var(--graphite);
    font-family: "Inter", Arial, sans-serif;    
}

h1, h2, h3, h4 {
    font-family: "Poppins", Arial, sans-serif;
}

img {
    display: block;
    max-width: 100%;
}

/* ============ HERO ============ */
.hero {
    background-image: url("img/claremont-hero.jpg");
    background-size: cover;
    background-position: center top;
    padding: 150px 16px;
    color: var(--white);
}

.hero-content {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.hero h1, h2 {
    background: var(--steel-blue);
    display: inline-block;
    padding: 10px 18px;
    border-radius: 12px;
    margin: 0;
}

.hero h1 {
    font-size: 42px;
    font-weight: 700;
    margin-bottom: 10px;
}

.hero h2 {
    font-size: 18px;
    font-weight: 600;
    max-width: 650px;
    line-height: 1.4;
}
/* ============ ACTIVITIES ============ */
.activities {
    padding: 100px 16px;
}

.activities h3 {
    margin: 0 0 30px;
    color: var(--pine-teal);
    font-size: 26px;
    font-weight: 700;

}

.activity-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 980px;
    margin: 0 auto;
}

.activity {
    width: 240px;
    padding: 12px;
    border-radius: 14px;
}


.activity img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 14px;
}


.activity h4 {
    margin: 0 0 10px;
    color: var(--pine-teal);
    font-size: 18px;
    font-weight: 600;
}

.activity p {
    margin: 0 auto;
    max-width: 220px;
    line-height: 1.4;
    font-size: 14px;
}

.activity:hover {
  transform: scale(1.10);
}

.guide-section {
  background: var(--white);
  padding: 80px 16px;
}

.guide {
  display: flex;
  align-items: center;
  gap: 40px;
  max-width: 720px;
  margin: 60px auto 80px;
  padding: 40px;
   background: var(--guide-card);
  border-radius: 16px;
  border-bottom: 10px solid var(--graphite);
}

.guide img {
  width: 180px;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
  flex-shrink: 0;
}

.guide-text {
  text-align: center;
  max-width: 360px;
}

.guide h3 {
  margin: 0 0 12px;
  color: var(--pine-teal);
  font-size: 28px;
  font-weight: 700;
}

.guide p {
  margin: 0 0 14px;
  font-style: italic;
  line-height: 1.5;
}

.guide h4 {
  margin: 0;
  color: var(--pine-teal);
  font-weight: 600;
}

.guide:hover {
  background-color: var(--steel-blue);
}

@media (max-width: 600px) {
  .guide {
    flex-direction: column;
  }

  .guide-text {
    text-align: center;
  }
}